.main{
    background:url(../Assets/home.jpg)  ;
    background-size: auto 110% !important;
    width: 100%;
    height: auto;
    z-index: -1;
  background-position: top;
  position: absolute;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto; 
  scrollbar-width: none !important;
}

/*Hide Scollbar*/
  ::-webkit-scrollbar { 
      display: none;  /* Chrome Safari */
      scrollbar-width: none !important;
      width: 0px; 
  }

div {
    scrollbar-width: none !important; /* Firefox */
    overflow: -moz-scrollbars-none !important; 
    -ms-overflow-style: none;  /* IE 10+ */
    overflow-y:scroll;
    overflow-x:hidden;
  }
  .element { overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;  }
/*Hide Scollbar*/

.main-head
{
  padding-top: 70vh;
  color: aliceblue;
  font-size: 7vw;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.links-pad{
  padding:0px;
}
.links{
  background-color: rgb(211, 211, 211);
  height: auto;
  font-size: 5vw;
  margin: 0px;
  padding:0px !important;
  color: rgb(180, 191, 201);
  font-weight: 650;
  a{
    color: rgb(48, 46, 46) !important;
    font-family:  'Roboto',  'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .links1{
    background-color: rgb(249, 238, 178);
    padding-bottom: 4vw ;
    padding-top: 4vw;
    padding-right: 1vw;
    padding-left:1vw;
  }
  .links2{
    
    //background: rgb(255,255,250);
    //background: radial-gradient(circle, rgba(255,255,250,0.8578781854538691) 0%, rgba(249,247,33,0.8151814321453652) 100%);
    background-color: #7bd9e6;
    padding-bottom: 4vw ;
    padding-top: 4vw;
    font-size: 5vw;
     }
  .links3{
    background-color: #f7d8e5;
    padding-bottom: 4vw ;
    padding-top: 4vw;
    padding-right: 1vw;
    padding-left:1vw;
  }
}

.motto{
  background-color: rgba($color: #303030, $alpha: 1);
  color:rgb(249, 238, 178)!important;
  padding-bottom: 3vw;
  padding-top: 3vw;
  height: auto;
  font-size: 2vw;
  margin: 0px;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Roboto, 'Trebuchet MS', sans-serif;
}

.ctl{
  background-color: rgb(235, 235, 235);
  color: rgb(41, 41, 41);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  padding-bottom: 6vw;
  padding-top: 6vw;
  font-size: 4vw;
  .ngo{
    font-size:2vw;
  }

}


.support-row{
background-color: rgba(110, 110, 110, 0.8);

 .image-supp{
  height: 20vw;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

}
img{
  max-width:100%;
  height:auto;
}
.support-key{
  padding-bottom: auto;
  color:#f7d8e5 ;
  background-color: rgba($color: #000000, $alpha: 0.7);
  height: 20vw;
  padding-top: 20%;
  
}
h3{
  font-size: 4vw;
  font-weight: 600;

}
a{
  color: white !important;
}
p{
  font-size: 2vw;
  font-weight: 400;
  font-style: oblique;
}
}

.text-field1{
  height: 10vw;
  background-color: #7bd9e6;
  margin: 0 auto;
  padding-bottom: 3vw;
  padding-top: 3vw;
  height: auto;
  font-size: 1.5vw;
  margin: 0px;
}

.footer{
  background-color: white;
  padding: 1vw 0vw 1vw 0vw;
  font-size: 1.3vw;

  h3{
    font-size: 2vw;
  }

  .quicklinks{
    text-align: left !important;
  }
}



.disclaimer{
  background-color: rgb(4, 29, 83);
  color: white;
  font-size: 0.7vw;
  padding: 0vw 0vw 0.1vw 0vw;
  span{
    font-size: 0.4vw;
    vertical-align: super;
  }}
 

  @media (max-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .footer{
      background-color: white;
      padding: 1vw 0vw 1vw 0vw;
      font-size: 4vw;
    
      h3{
        font-size: 6vw;
      }
    
      .quicklinks{
        text-align: center !important;
      }
    }

    .support-row{

   .image-supp{
       height: 100%;
       margin-left: auto;
       margin-right: auto;
       overflow: hidden;
     
     }
     .support-key{

       height: 30vw;
       padding-top: 10%;
       
     }
     h3{
       font-size: 7vw;
       font-weight: 500;
     
     }
     a{
       color: white !important;
     }
     p{
       font-size: 4vw;
       font-weight: 400;
       font-style: oblique;
     }
     }

     .disclaimer{
      font-size: 2vw;
      padding: 0vw 0vw 0.1vw 0vw;
      span{
        font-size: 1vw;
        vertical-align: super;
      }}
    
  }